.purchase_item[data-v-62dace61] {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

.purchase_list .purchase_item[data-v-62dace61] {
    border-bottom: 1px solid #ebebeb
}

.purchase_item.bg_warning[data-v-62dace61] {
    background-color: #fef9f5
}

.purchase_item.buy_95[data-v-62dace61] .stocked_status_mark {
    top: 3px;
    left: 3px
}

.history_product[data-v-62dace61] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.history_product .product_box[data-v-62dace61] {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 80px;
    height: 80px
}

.history_product .product_box .product[data-v-62dace61] {
    border-radius: 12px
}

.product_detail[data-v-62dace61] {
    margin-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center
}

.express_mark[data-v-62dace61] {
    margin-bottom: 8px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 11px;
    padding: 3px 5.5px 4px 17px;
    color: #31b46e;
    border: 1px solid #31b46e;
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: -.33px
}

.express_mark[data-v-62dace61]:before {
    content: "";
    position: absolute;
    left: 3.5px;
    top: 3px;
    width: 11px;
    height: 13px;
    background: url(/_nuxt/img/ico-express.8dac9dc.svg) 0 0 no-repeat;
    background-size: 11px 13px
}

.mo .express_mark[data-v-62dace61],
.sm .express_mark[data-v-62dace61] {
    margin-bottom: 4px
}

.name[data-v-62dace61] {
    line-height: 17px;
    font-size: 14px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.size[data-v-62dace61] {
    line-height: 19px;
    margin-top: 4px
}

.size_text[data-v-62dace61] {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: -.21px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: rgba(34, 34, 34, .5)
}

.history_status[data-v-62dace61] {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right
}

.history_status .status_box[data-v-62dace61] {
    display: none;
    margin-left: 10px;
    width: 134px
}

.history_status .status_box.active[data-v-62dace61],
.purchase_list.active_second .history_status .status_box[data-v-62dace61] {
    font-weight: 700
}

.history_status .status_box[data-v-62dace61]:first-child {
    width: 140px
}

.purchase_list.active_first .history_status .status_box[data-v-62dace61]:first-child {
    font-weight: 700
}

.date[data-v-62dace61] {
    font-size: 14px
}

.history_product .date[data-v-62dace61] {
    display: none
}

.all .status_box.field_status[data-v-62dace61],
.ask.finished .status_box.field_date_paid[data-v-62dace61],
.bid.finished .status_box.field_date_purchased[data-v-62dace61],
.bidding .status_box.field_expires_at[data-v-62dace61],
.bidding .status_box.field_price[data-v-62dace61],
.finished .status_box.field_status[data-v-62dace61],
.mo .all .history_product .date[data-v-62dace61],
.mo .finished .history_product .date[data-v-62dace61],
.pending .status_box.field_status[data-v-62dace61],
.sm .all .history_product .date[data-v-62dace61],
.sm .finished .history_product .date[data-v-62dace61] {
    display: block
}

.price[data-v-62dace61] {
    margin-top: 2px;
    font-size: 0
}

.amount[data-v-62dace61],
.unit[data-v-62dace61] {
    display: inline-block;
    font-size: 14px
}

.unit[data-v-62dace61] {
    margin-top: -1px
}

.status_txt[data-v-62dace61] {
    display: block;
    font-size: 14px;
    letter-spacing: -.21px
}

.on_hold[data-v-62dace61] {
    color: #ff7500;
    font-weight: 700
}

.expiry[data-v-62dace61] {
    color: #f15746
}

.status_detail[data-v-62dace61],
.status_link[data-v-62dace61] {
    display: block;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34, 34, 34, .5)
}

.status_link[data-v-62dace61] {
    cursor: pointer
}

.status_link[data-v-62dace61],
.status_link[data-v-62dace61]:hover {
    text-decoration: underline
}

.product_box[data-v-62dace61] .product_img {
    width: 100%
}

.mo .purchase_item[data-v-62dace61],
.sm .purchase_item[data-v-62dace61] {
    padding: 16px 24px
}

.mo .product_box[data-v-62dace61],
.sm .product_box[data-v-62dace61] {
    width: 72px;
    height: 72px
}

.mo .product_detail[data-v-62dace61],
.sm .product_detail[data-v-62dace61] {
    margin-left: 8px
}

.mo .name[data-v-62dace61],
.sm .name[data-v-62dace61] {
    line-height: 16px;
    font-size: 13px;
    letter-spacing: -.21px
}

.mo .buy_95 .name[data-v-62dace61],
.sm .buy_95 .name[data-v-62dace61] {
    -webkit-line-clamp: 1
}

.mo .size[data-v-62dace61],
.sm .size[data-v-62dace61] {
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -.03px
}

.mo .status_box[data-v-62dace61],
.sm .status_box[data-v-62dace61] {
    margin-left: 8px;
    width: 60px
}

.mo .status_box.field_price[data-v-62dace61],
.sm .status_box.field_price[data-v-62dace61] {
    width: 86px
}

.mo .status_box.field_status[data-v-62dace61],
.sm .status_box.field_status[data-v-62dace61] {
    width: 82px
}

.mo .status_box.field_date_paid[data-v-62dace61],
.mo .status_box.field_date_purchased[data-v-62dace61],
.sm .status_box.field_date_paid[data-v-62dace61],
.sm .status_box.field_date_purchased[data-v-62dace61] {
    width: 86px
}

.mo .finished .field_status[data-v-62dace61],
.sm .finished .field_status[data-v-62dace61] {
    width: 65px
}

.mo .amount[data-v-62dace61],
.mo .unit[data-v-62dace61],
.sm .amount[data-v-62dace61],
.sm .unit[data-v-62dace61] {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -.03px
}

.mo .date[data-v-62dace61],
.sm .date[data-v-62dace61] {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -.03px
}

.mo .status_txt[data-v-62dace61],
.sm .status_txt[data-v-62dace61] {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.03px
}

.sm .purchase_item[data-v-62dace61] {
    padding-left: 16px;
    padding-right: 16px
}

@media(max-width:320px) {
    .purchase_item[data-v-62dace61] {
        overflow-x: auto
    }
}

.select_status[data-v-adf251ec] {
    padding: 4px 26px 26px
}

.status_item[data-v-adf251ec] {
    margin: 6px;
    display: inline-block;
    width: calc(33.33333% - 12px)
}

.status_link[data-v-adf251ec] {
    overflow: hidden;
    display: block;
    padding: 15px 14px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap
}

.status_warning .status_link[data-v-adf251ec] {
    color: #ff7500
}

.status_danger .status_link[data-v-adf251ec] {
    color: #f15746
}

.item_on .status_link[data-v-adf251ec] {
    border-color: #222;
    font-weight: 700
}

.mo .select_status[data-v-adf251ec],
.sm .select_status[data-v-adf251ec] {
    padding: 6px 12px 36px
}

.mo .status_item[data-v-adf251ec],
.sm .status_item[data-v-adf251ec] {
    margin: 4px;
    width: calc(33.33333% - 8px)
}

.check_list[data-v-67f5fdcf] {
    padding: 20px 32px 32px
}

.check_list.mo[data-v-67f5fdcf],
.check_list.sm[data-v-67f5fdcf] {
    padding: 8px 24px 0
}

.check_list.mo .notice_maintext[data-v-67f5fdcf],
.check_list.sm .notice_maintext[data-v-67f5fdcf] {
    font-size: 15px;
    letter-spacing: -.15px
}

.check_list.mo .notice_subtext[data-v-67f5fdcf],
.check_list.sm .notice_subtext[data-v-67f5fdcf] {
    font-size: 13px;
    letter-spacing: -.07px
}

.check_list.mo .check_view[data-v-67f5fdcf],
.check_list.sm .check_view[data-v-67f5fdcf] {
    margin-top: 5px
}

.check_list.sm[data-v-67f5fdcf] {
    padding-left: 16px;
    padding-right: 16px
}

.check_item[data-v-67f5fdcf] {
    padding: 16px 0;
    border-top: 1px solid #ebebeb
}

.check_item[data-v-67f5fdcf]:first-child {
    border-top: none
}

.step-2 .check_item[data-v-67f5fdcf]:last-child {
    font-weight: 600
}

.check_area[data-v-67f5fdcf] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.notice_group[data-v-67f5fdcf] {
    margin-right: 20px;
    word-break: keep-all;
    word-wrap: break-word
}

.checkbox_item[data-v-67f5fdcf] {
    margin-left: auto
}

.notice_maintext[data-v-67f5fdcf] {
    font-size: 16px;
    letter-spacing: -.16px
}

.notice_subtext[data-v-67f5fdcf] {
    color: rgba(34, 34, 34, .5)
}

.check_view[data-v-67f5fdcf],
.notice_subtext[data-v-67f5fdcf] {
    font-size: 14px;
    letter-spacing: -.21px
}

.check_view[data-v-67f5fdcf] {
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    color: #297dcb
}

.check_view[data-v-67f5fdcf],
.check_view[data-v-67f5fdcf]:hover {
    text-decoration: underline
}

.layer_shipping_info .check_list[data-v-67f5fdcf] {
    padding: 12px 0 0
}

.layer_shipping_info .check_item[data-v-67f5fdcf] {
    padding: 0
}

.layer_shipping_info .notice_maintext[data-v-67f5fdcf] {
    line-height: 22px
}

.layer_shipping_info .notice_subtext[data-v-67f5fdcf] {
    margin-top: 2px;
    line-height: 16px
}

.layer_shipping_info .checkbox_item[data-v-67f5fdcf] {
    margin-bottom: auto
}

.layer_shipping_info.mo .notice_maintext[data-v-67f5fdcf],
.layer_shipping_info.sm .notice_maintext[data-v-67f5fdcf] {
    line-height: normal;
    font-size: 14px;
    letter-spacing: -.21px
}

.layer_shipping_info.mo .notice_subtext[data-v-67f5fdcf],
.layer_shipping_info.sm .notice_subtext[data-v-67f5fdcf] {
    font-size: 12px;
    letter-spacing: -.06px
}

.shipping_information[data-v-5cbef1e1] {
    position: relative
}

.shipping_information[data-v-5cbef1e1]:after {
    content: "";
    display: block;
    clear: both
}

.shipping_information[data-v-5cbef1e1]:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    bottom: 0;
    width: 1px;
    background-color: #ebebeb
}

.invoice_area[data-v-5cbef1e1] {
    float: left;
    padding-right: 20px;
    width: calc(50% - 10px)
}

.invoice_notice[data-v-5cbef1e1] {
    padding-bottom: 14px
}

.notice_txt[data-v-5cbef1e1] {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.15px;
    word-break: keep-all
}

.invoice_img[data-v-5cbef1e1] {
    width: 100%
}

.invoice_ask_id[data-v-5cbef1e1] {
    left: 182px;
    top: 98px;
    font-size: 12px;
    line-height: 14px;
    min-width: 84px
}

.invoice_ask_id[data-v-5cbef1e1],
.invoice_ask_id_m[data-v-5cbef1e1] {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    color: #222;
    background-color: #ebebeb;
    text-align: center;
    border-radius: 30px
}

.invoice_ask_id_m[data-v-5cbef1e1] {
    left: 200px;
    top: 20px;
    font-size: 11px;
    line-height: 12px;
    min-width: 68px
}

.detail_area[data-v-5cbef1e1] {
    float: left;
    padding-left: 20px;
    width: calc(50% + 10px)
}

.detail_area[data-v-5cbef1e1] .input_wrap+.input_wrap {
    margin-top: 30px
}

.shipping_btn_box[data-v-5cbef1e1] {
    padding-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.shipping_btn_box .btn[data-v-5cbef1e1] {
    width: 120px;
    font-weight: 600
}

.mo .shipping_information[data-v-5cbef1e1]:after,
.mo .shipping_information[data-v-5cbef1e1]:before,
.sm .shipping_information[data-v-5cbef1e1]:after,
.sm .shipping_information[data-v-5cbef1e1]:before {
    display: none
}

.mo .detail_area[data-v-5cbef1e1],
.mo .invoice_area[data-v-5cbef1e1],
.sm .detail_area[data-v-5cbef1e1],
.sm .invoice_area[data-v-5cbef1e1] {
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%
}

.mo .detail_area[data-v-5cbef1e1],
.sm .detail_area[data-v-5cbef1e1] {
    padding-top: 20px
}

.mo .detail_area[data-v-5cbef1e1] .input_wrap+.input_wrap,
.sm .detail_area[data-v-5cbef1e1] .input_wrap+.input_wrap {
    margin-top: 20px
}

.mo .invoice_notice[data-v-5cbef1e1],
.sm .invoice_notice[data-v-5cbef1e1] {
    padding-top: 12px;
    padding-bottom: 8px
}

.mo .invoce_img_box[data-v-5cbef1e1],
.sm .invoce_img_box[data-v-5cbef1e1] {
    position: relative
}

.mo .invoice_img[data-v-5cbef1e1],
.sm .invoice_img[data-v-5cbef1e1] {
    width: 280px
}

.mo .notice_txt[data-v-5cbef1e1],
.sm .notice_txt[data-v-5cbef1e1] {
    display: inline;
    font-size: 13px;
    letter-spacing: -.07px
}

.mo .shipping_btn_box[data-v-5cbef1e1],
.sm .shipping_btn_box[data-v-5cbef1e1] {
    padding-top: 38px
}

.mo .shipping_btn_box .btn[data-v-5cbef1e1],
.sm .shipping_btn_box .btn[data-v-5cbef1e1] {
    padding: 0 25px;
    width: 100%;
    height: 52px;
    line-height: 50px;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: -.16px
}

.deferred_notice_wrap[data-v-fa134d80] {
    font-size: 13px;
    letter-spacing: -.07px
}

.deferred_expires[data-v-fa134d80] {
    margin-top: 12px;
    padding: 11px 0 12px;
    display: block;
    text-align: center;
    background: #333;
    color: #ff7500;
    font-size: 18px;
    letter-spacing: -.09px;
    font-weight: 700
}

.deferred_expires.expired[data-v-fa134d80] {
    font-size: 16px;
    font-weight: 700
}

.deferred_oid[data-v-fa134d80] {
    font-size: 16px;
    margin-top: 9.5px;
    border-bottom: 2px solid #222;
    padding-bottom: 11px
}

.deferred_oid .deferred_oid_num[data-v-fa134d80] {
    font-weight: 700
}

.deferred_product_info_wrap[data-v-fa134d80] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid #f4f4f4
}

.deferred_product_info_wrap[data-v-fa134d80] .product {
    background-color: #f6eeed;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 80px;
    height: 80px;
    padding: 0
}

.deferred_product_info_wrap[data-v-fa134d80] .product_detail {
    font-size: 14px;
    margin-left: 12px
}

.deferred_product_info_wrap[data-v-fa134d80] .product_detail .code {
    line-height: 20px;
    font-weight: 700
}

.deferred_product_info_wrap[data-v-fa134d80] .product_detail .name {
    line-height: 17px
}

.deferred_product_info_wrap[data-v-fa134d80] .product_detail .size_text {
    line-height: 20px;
    margin-top: 8px;
    font-weight: 700;
    color: rgba(34, 34, 34, .5)
}

.deferred_title[data-v-fa134d80] {
    font-size: 16px;
    font-weight: 700
}

.deferred_reasons_wrap[data-v-fa134d80] {
    padding: 20px 0;
    border-bottom: 2px solid #f4f4f4
}

.deferred_reasons_wrap .deferred_reasons_desc[data-v-fa134d80] {
    font-size: 14px;
    letter-spacing: -.21px;
    margin-top: 8px
}

.deferred_reasons_wrap .deferred_reasons_list[data-v-fa134d80] {
    background: #f4f4f4;
    padding: 8px 14px 14px;
    margin-top: 8px;
    border-radius: 10px;
    font-size: 13px;
    line-height: 16px
}

.deferred_reasons_wrap .deferred_reasons_list li[data-v-fa134d80] {
    margin-top: 6px;
    position: relative
}

.deferred_reasons_wrap .deferred_reasons_list li span[data-v-fa134d80] {
    margin-left: 10px
}

.deferred_reasons_wrap .deferred_reasons_list li[data-v-fa134d80]:before {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    background-color: #333;
    top: 6px
}

.deferred_images_wrap[data-v-fa134d80] {
    padding-bottom: 20px
}

.deferred_images_wrap .deferred_title[data-v-fa134d80] {
    margin: 20px 0 10px
}

.deferred_images_wrap img[data-v-fa134d80] {
    width: 100%;
    border-radius: 10px
}

.deferred_images_wrap img+img[data-v-fa134d80] {
    margin-top: 8px
}

.deferred_actions_wrap[data-v-fa134d80] {
    display: block
}

.deferred_actions_wrap[data-v-fa134d80] .deferred_title {
    margin: 20px 0 10px
}

.deferred_actions_wrap[data-v-fa134d80] .radio_item {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb
}

.deferred_actions_wrap[data-v-fa134d80] .radio_item .radio_input:checked~.radio_label:before {
    top: 20%
}

.deferred_actions_wrap[data-v-fa134d80] .radio_item .radio_input:checked~.radio_label:after {
    top: 20%
}

.deferred_actions_wrap[data-v-fa134d80] .radio_item+.radio_item {
    margin: 20px 0 0 !important
}

.deferred_actions_wrap[data-v-fa134d80] .label_txt {
    font-size: 15px;
    line-height: 18px;
    display: block;
    float: unset !important
}

.deferred_actions_wrap[data-v-fa134d80] .label_desc {
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    color: rgba(34, 34, 34, .5)
}

.deferred_confirm_wrap[data-v-fa134d80] {
    padding: 20px 0;
    display: inline-block
}

.deferred_confirm_wrap[data-v-fa134d80] .checkbox_item .label_txt {
    display: inline;
    font-size: 15px;
    line-height: 18px;
    padding: 0
}

.deferred_confirm_wrap[data-v-fa134d80] .label_desc {
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    color: rgba(34, 34, 34, .5);
    padding: 4px 44px 0 0
}

.deferred_confirm_wrap[data-v-fa134d80] svg {
    float: right;
    margin-left: 20px
}

.btn_submit[data-v-fa134d80] {
    font-size: 15px;
    font-weight: 600;
    padding: 17px 0 16px;
    height: 52px;
    line-height: unset
}

.deferred_btn_wrap[data-v-fa134d80] .solid.disabled {
    background-color: #d3d3d3
}

.mo [class*=_wrap][data-v-fa134d80],
.sm [class*=_wrap][data-v-fa134d80] {
    padding-left: 16px;
    padding-right: 16px
}

.mo .deferred_oid[data-v-fa134d80],
.sm .deferred_oid[data-v-fa134d80] {
    margin-left: 16px;
    margin-right: 16px
}

.mo .deferred_product_info_wrap[data-v-fa134d80],
.sm .deferred_product_info_wrap[data-v-fa134d80] {
    border-bottom: 8px solid #f4f4f4
}

.mo .deferred_confirm_wrap[data-v-fa134d80],
.sm .deferred_confirm_wrap[data-v-fa134d80] {
    padding: 0;
    border-top: 8px solid #f4f4f4
}

.mo .deferred_confirm_wrap[data-v-fa134d80] .check_label,
.sm .deferred_confirm_wrap[data-v-fa134d80] .check_label {
    padding: 20px 16px
}

.mo .deferred_confirm_wrap[data-v-fa134d80] .label_txt,
.sm .deferred_confirm_wrap[data-v-fa134d80] .label_txt {
    margin: 0
}

.mo .deferred_btn_wrap[data-v-fa134d80],
.sm .deferred_btn_wrap[data-v-fa134d80] {
    padding-bottom: 20px
}

.purchase_head[data-v-21d527e4] {
    padding: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb
}

.head_product[data-v-21d527e4],
.head_status[data-v-21d527e4],
.purchase_head[data-v-21d527e4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.head_status[data-v-21d527e4] {
    margin-left: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right
}

.head_status .status_box[data-v-21d527e4] {
    margin-left: 10px;
    width: 134px
}

.head_status .status_box.active_first[data-v-21d527e4] {
    font-weight: 700
}

.head_status .status_box.ascending .status_link[data-v-21d527e4]:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAyNCI+PHBhdGggZmlsbD0iI0QzRDNEMyIgZD0iTTEyIDEzbC00IDUtNC01aDh6Ii8+PHBhdGggZmlsbD0iIzIyMiIgZD0iTTQgMTFsNC01IDQgNUg0eiIvPjwvc3ZnPg==) no-repeat
}

.head_status .status_box.descending .status_link[data-v-21d527e4]:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAyNCI+PHBhdGggZmlsbD0iI0QzRDNEMyIgZD0iTTQgMTFsNC01IDQgNUg0eiIvPjxwYXRoIGZpbGw9IiMyMjIiIGQ9Ik0xMiAxM2wtNCA1LTQtNWg4eiIvPjwvc3ZnPg==) no-repeat
}

.head_status .status_box.field_price[data-v-21d527e4] {
    display: none;
    width: 140px
}

.bidding .head_status .status_box.field_price[data-v-21d527e4] {
    display: block
}

.head_status .status_box.field_date_purchased[data-v-21d527e4] {
    display: none
}

.bid.finished .head_status .status_box.field_date_purchased[data-v-21d527e4] {
    display: block
}

.head_status .status_box.field_date_paid[data-v-21d527e4] {
    display: none
}

.ask.finished .head_status .status_box.field_date_paid[data-v-21d527e4] {
    display: block
}

.head_status .status_box.field_expires_at[data-v-21d527e4] {
    display: none
}

.bidding .head_status .status_box.field_expires_at[data-v-21d527e4] {
    display: block
}

.head_status .status_box.field_status[data-v-21d527e4] {
    display: none
}

.finished .head_status .status_box.field_status[data-v-21d527e4],
.pending .head_status .status_box.field_status[data-v-21d527e4] {
    display: block
}

.head_status .status_link[data-v-21d527e4] {
    position: relative;
    padding-right: 16px;
    display: inline-block;
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 24px
}

.head_status .status_link[data-v-21d527e4]:after {
    content: "";
    position: absolute;
    top: 0;
    right: -4px;
    width: 16px;
    height: 24px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAyNCI+PHBhdGggZmlsbD0iI0QzRDNEMyIgZD0iTTEyIDEzbC00IDUtNC01aDh6bS04LTJsNC01IDQgNUg0eiIvPjwvc3ZnPg==) no-repeat
}

.head_status .status_txt[data-v-21d527e4] {
    display: inline-block;
    vertical-align: top
}

.btn_filter[data-v-21d527e4] {
    position: relative;
    padding: 5px 30px 5px 10px;
    display: inline-block;
    width: 120px;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    font-size: 13px;
    letter-spacing: -.07px
}

.ico-arr-dir-down-circle[data-v-21d527e4] {
    position: absolute;
    top: 6px;
    right: 5px
}

.mo .purchase_head[data-v-21d527e4],
.sm .purchase_head[data-v-21d527e4] {
    padding-left: 24px;
    padding-right: 24px
}

.mo .head_status .status_link[data-v-21d527e4],
.sm .head_status .status_link[data-v-21d527e4] {
    padding-right: 18px
}

.mo .head_status .status_link[data-v-21d527e4]:after,
.sm .head_status .status_link[data-v-21d527e4]:after {
    right: 0
}

.mo .status_box[data-v-21d527e4],
.sm .status_box[data-v-21d527e4] {
    margin-left: 4px;
    width: 60px
}

.mo .status_box.field_price[data-v-21d527e4],
.sm .status_box.field_price[data-v-21d527e4] {
    width: 86px
}

.mo .status_box.field_status[data-v-21d527e4],
.sm .status_box.field_status[data-v-21d527e4] {
    width: 82px
}

.mo .status_box.field_date_purchased[data-v-21d527e4],
.sm .status_box.field_date_purchased[data-v-21d527e4] {
    width: 86px
}

.mo .finished .field_status[data-v-21d527e4],
.sm .finished .field_status[data-v-21d527e4] {
    width: 60px
}

.mo .btn_filter[data-v-21d527e4],
.sm .btn_filter[data-v-21d527e4] {
    width: 98px
}

.sm .purchase_head[data-v-21d527e4] {
    padding-left: 16px;
    padding-right: 16px
}

.purchase_list_tab[data-v-bbed98be] {
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: #fafafa;
    border-radius: 12px
}

.purchase_list_tab.detail_tab[data-v-bbed98be] {
    background-color: #fff;
    border-radius: 0;
    margin-top: 20px
}

.purchase_list_tab.detail_tab .tab_item.total[data-v-bbed98be] {
    display: none
}

.purchase_list_tab.detail_tab .tab_on .tab_link[data-v-bbed98be] {
    border-bottom: 2px solid #222
}

.purchase_list_tab.detail_tab .tab_on .title[data-v-bbed98be] {
    color: #222;
    font-weight: 700
}

.purchase_list_tab.detail_tab .tab_on .count[data-v-bbed98be] {
    color: #f15746
}

.purchase_list_tab.detail_tab.sell .tab_on .count[data-v-bbed98be] {
    color: #31b46e
}

.purchase_list_tab.detail_tab .tab_link[data-v-bbed98be] {
    padding-top: 12px;
    height: 68px;
    border-bottom: 1px solid #d3d3d3
}

.purchase_list_tab.detail_tab .tab_link[data-v-bbed98be]:before {
    display: none
}

.purchase_list_tab.detail_tab .tab_box[data-v-bbed98be] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.purchase_list_tab.detail_tab .title[data-v-bbed98be] {
    color: rgba(34, 34, 34, .5)
}

.purchase_list_tab.detail_tab .count[data-v-bbed98be] {
    margin-top: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.1px
}

.purchase_list_tab.detail_tab .hold[data-v-bbed98be] {
    display: none
}

.purchase_list_tab.inventory[data-v-bbed98be] {
    background-color: #f2f9f6
}

.tab_item[data-v-bbed98be] {
    display: table-cell;
    text-align: center
}

.tab_item.total .count[data-v-bbed98be] {
    color: #f15746
}

.purchase_list_tab.inventory .tab_item.total .count[data-v-bbed98be],
.purchase_list_tab.sell .tab_item.total .count[data-v-bbed98be] {
    color: #31b46e
}

.tab_link[data-v-bbed98be] {
    position: relative;
    display: block;
    padding-top: 18px;
    height: 96px
}

.tab_item:first-of-type .tab_link[data-v-bbed98be]:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    width: 1px;
    bottom: 18px;
    background-color: #ebebeb
}

.tab_link .title[data-v-bbed98be] {
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34, 34, 34, .8)
}

.tab_link .count[data-v-bbed98be] {
    margin-top: 2px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -.09px;
    font-weight: 700
}

.tab_link .hold[data-v-bbed98be] {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -.06px;
    color: #ff7500
}

.mo .purchase_list_tab.detail_tab[data-v-bbed98be],
.sm .purchase_list_tab.detail_tab[data-v-bbed98be] {
    margin: 0
}

.empty_area[data-v-e2f6767a] {
    padding: 81px 0 45px;
    text-align: center
}

.empty_area.has_bg[data-v-e2f6767a] {
    background-color: #fafafa
}

.empty_area .desc[data-v-e2f6767a] {
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34, 34, 34, .5)
}

.empty_area .btn[data-v-e2f6767a] {
    margin-top: 8px
}

.mo .empty_area[data-v-e2f6767a],
.sm .empty_area[data-v-e2f6767a] {
    padding: 52px 0 25px
}

.my .empty_area[data-v-e2f6767a] {
    padding: 80px 0
}

.my .empty_area .btn[data-v-e2f6767a] {
    margin-top: 12px
}

.mo.my .empty_area[data-v-e2f6767a],
.sm.my .empty_area[data-v-e2f6767a] {
    padding: 160px 0 25px
}

.interest_product .empty_area[data-v-e2f6767a] {
    margin: 0 10px;
    border-radius: 12px
}

.interest_product .empty_area .desc[data-v-e2f6767a] {
    font-size: 14px;
    letter-spacing: -.21px
}

.interest_product .empty_area .btn[data-v-e2f6767a] {
    background-color: #fafafa
}

.mo .interest_product .empty_area[data-v-e2f6767a],
.sm .interest_product .empty_area[data-v-e2f6767a] {
    margin: 0 20px 20px;
    padding: 77px 0 66px
}

.mo .my_purchase .empty_area[data-v-e2f6767a],
.sm .my_purchase .empty_area[data-v-e2f6767a] {
    padding: 80px 0
}

.delivery_tab .empty_area[data-v-e2f6767a] {
    margin-top: 12px;
    padding: 36px 0
}