<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shoekream.www.repository.memberDAO.MemberDAO">
	<sql id="wh_email">
		WHERE
			email = #{email}
	</sql>
	
	<insert id="insert" parameterType="memberVO">
		INSERT INTO
				member (email, pwd, nick_name)
		VALUES
				(#{email}, #{pwd}, #{nickName})
	</insert>
	<select id="selectOne" parameterType="memberVO" resultType="memberVO">
		SELECT
			mem_id, email, nick_name, grade
		FROM
			member
		<include refid="wh_email"/>
		AND
			pwd = #{pwd}
	</select>
	<select id="selectList" resultType="memberVO">
		SELECT 
			mem_id, email, nick_name, grade
		FROM
			member
	</select>
	<select id="selectDetail" resultType="memberVO">
		SELECT
			email, pwd, nick_name
		FROM
			member
		<include refid="wh_email"/>
	</select>
	<select id="selectEmail" parameterType="string" resultType="int">
		SELECT
			COUNT(email)
		FROM
			member
		<include refid="wh_email"/>
	</select>
	<select id="selectMysellHistory" parameterType="string" resultType="MypageVO">
		SELECT
			i.item_no, p.e_name, ss.size_value, p.th_img
		FROM
			items i
		INNER JOIN
			product p
		ON
			i.pno = p.pno
		INNER JOIN
			shoe_size ss
		ON
			i.shoe_size = ss.size_id
		WHERE
			i.seller_email = #{email}
		ORDER by
			i.reg_at DESC
		LIMIT
			3
	</select>
	<select id="selectMyBuyHistory" parameterType="string" resultType="MypageVO">
		SELECT
			i.item_no, p.e_name, ss.size_value, p.th_img
		FROM
			items i
		INNER JOIN
			product p
		ON
			i.pno = p.pno
		INNER JOIN
			shoe_size ss
		ON
			i.shoe_size = ss.size_id
		WHERE
			i.buyer_email = #{email}
		ORDER by
			i.reg_at DESC
		LIMIT
			3
	</select>
	<update id="update" parameterType="memberVO">
		UPDATE
			member
		SET
			nick_name = #{nickName},
			pwd = #{pwd}
		<include refid="wh_email"/>
	</update>
	<delete id="delete">
		DELETE FROM member
		<include refid="wh_email"/>
	</delete>
	<!-- <select id="purchaseHistoryList" parameterType="string" resultType="">
		select i.item_no, p.e_name, ss.size_value
		from items i
		inner join product p on i.pno = p.pno
		inner join shoe_size ss on i.shoe_size = ss.ssid
		where i.is_sold = 1 and i.seller_email = #{email}
	</select>
	<select id="salesHistoryList" parameterType="string" resultType="">
		select i.item_no, p.e_name, ss.size_value
		from items i
		inner join product p on i.pno = p.pno
		inner join shoe_size ss on i.shoe_size = ss.ssid
		where i.is_sold = 1 and i.buyer_email = #{email}
	</select> -->
</mapper>