<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shoekream.www.repository.mypageDAO.MypageDAO">
	<select id="getItemBuyList" parameterType="string" resultType="mypageVO">
		SELECT
			i.is_sold, i.item_no, p.model, p.e_name, ss.size_value AS 'shoe_size', i.price, model_image_url as thImg
		FROM
			items i
		INNER JOIN
			product p
		ON
			i.pno = p.pno
		INNER JOIN
			shoe_size ss
		ON
			i.shoe_size = ss.size_id
		INNER JOIN
			model_image mi
		ON
			p.model = mi.model_number
		WHERE
			i.buyer_email = #{email}
		GROUP BY i.item_no
		ORDER by
			i.reg_at DESC
	</select>
	<select id="getItemSelList" parameterType="string" resultType="mypageVO">
		SELECT
			i.is_sold, i.item_no, p.model, p.e_name, ss.size_value AS 'shoe_size', i.price, model_image_url as thImg
		FROM
			items i
		INNER JOIN
			product p
		ON
			i.pno = p.pno
		INNER JOIN
			shoe_size ss
		ON
			i.shoe_size = ss.size_id
		INNER JOIN
			model_image mi
		ON
			p.model = mi.model_number
		WHERE
			i.seller_email = #{email}
		GROUP BY i.item_no
		ORDER by
			i.reg_at DESC
	</select>
	<select id="getSelTotalCount" parameterType="string" resultType="int">
		SELECT 
			COUNT(is_sold) 
		FROM
			items
		WHERE
			seller_email = #{email}
	</select>
	<select id="getSelBidCount" parameterType="string" resultType="int">
		SELECT 
			COUNT(is_sold) 
		FROM
			items
		WHERE
			seller_email = #{email}
		AND
			is_sold = 0
	</select>
	<select id="getSelEndCount" parameterType="string" resultType="int">
		SELECT 
			COUNT(is_sold) 
		FROM
			items
		WHERE
			seller_email = #{email}
		AND
			is_sold = 1
	</select>
	<select id="getBuyTotalCount" parameterType="string" resultType="int">
		SELECT 
			COUNT(is_sold) 
		FROM
			items
		WHERE
			buyer_email = #{email}
	</select>
	<select id="getBuyBidCount" parameterType="string" resultType="int">
		SELECT 
			COUNT(is_sold) 
		FROM
			items
		WHERE
			buyer_email = #{email}
		AND
			is_sold = 0
	</select>
	<select id="getBuyEndCount" parameterType="string" resultType="int">
		SELECT 
			COUNT(is_sold) 
		FROM
			items
		WHERE
			buyer_email = #{email}
		AND
			is_sold = 1
	</select>
	<select id="gethistoryDetail" parameterType="int" resultType="mypageVO">
		SELECT
			i.is_sold, i.item_no, p.model, p.e_name, ss.size_value AS 'shoe_size',
			i.price, i.reg_at, i.end_at, i.seller_email, i.buyer_email
		FROM
			items i
		INNER JOIN
			product p
		ON
			i.pno = p.pno
		INNER JOIN
			shoe_size ss
		ON
			i.shoe_size = ss.size_id
		WHERE
			i.item_no = #{itemNo}
	</select>
</mapper>