<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoekream.www.repository.searchDAO.productDAO.ProductDAO">

	<sql id="whereSize">
		<if test="sizeToArray != null">
			and ss.size_id in
			<foreach collection="sizeToArray" item="sizeID" separator=","
				open="(" close=")">
				#{sizeID}
			</foreach>
		</if>
	</sql>
	
	<sql id="whereBrandCategory">
		<if test="brandToArray != null">
			and sb.brand_id in
			<foreach collection="brandToArray" item="brandID"
				separator="," open="(" close=")">
				#{brandID}
			</foreach>
		</if>
		<if test="categoryToArray != null">
			and p.category in
			<foreach collection="categoryToArray" item="categoryID"
				separator="," open="(" close=")">
				#{categoryID}
			</foreach>
		</if>
	</sql>
	
	<sql id="keyword">
		like CONCAT('%',#{keyword},'%')
	</sql>
	
	<sql id="search">
		<if test="keyword != null">
			AND (REPLACE(e_name, ' ', '') <include refid="keyword"/>
				or REPLACE(k_name, ' ', '') <include refid="keyword"/>
				or REPLACE(model, ' ', '') <include refid="keyword"/>
				or REPLACE(sb.brand_name, ' ', '') <include refid="keyword"/>)  
		</if>
	</sql>
	
	<insert id="insert" parameterType="productVO">
		INSERT INTO product (
			pno
			, model
			, e_name
			, k_name
			, brand
			, category
			, retail_price
			, model_id
		) VALUES (
			#{pno}
			, #{model}
			, #{eName}
			, #{kName}
			, #{brand}
			, #{category}
			, #{retailPrice}
			, #{modelId}
		)
	</insert>
	<insert id="insertImage" parameterType="productVO">
		INSERT INTO model_image (
			image_id
			, model_number
			, model_image_url
			, model_id
		) VALUES (
			#{imageId}
			, #{model}
			, #{fileName}
			, #{modelId}
		)
	</insert>
	
	<select id="selectList" parameterType="pageVO" resultType="productVO">
		SELECT
    		p.pno as pno
    		, e_name as eName
    		, k_name as kName
    		, sb.brand_name as brandName
    		, sc.category_name as categoryName
    		, model_image_url as imageUrl
		FROM
    		product p 
    	JOIN
    		shoe_brand sb
        ON
        	p.brand = sb.brand_id
    	JOIN
    		shoe_category sc
        ON
        	p.category = sc.category_id
    	LEFT JOIN
    		model_image mi
        ON
        	p.model = mi.model_number
		WHERE
			1=1
		AND
			activate = 'y'
		<include refid="whereBrandCategory" />
		<include refid="search"/>
		GROUP BY
			pno
		ORDER BY
			pno desc
		LIMIT
			#{pageStart}, #{qty}
	</select>
	<select id="selectAdminList" parameterType="pageVO" resultType="productVO">
		SELECT
    		p.pno as pno
    		, e_name as eName
    		, k_name as kName
    		, sb.brand_name as brandName
    		, sc.category_name as categoryName
    		, model_image_url as imageUrl
    		, activate
		FROM
    		product p 
    	JOIN
    		shoe_brand sb
        ON
        	p.brand = sb.brand_id
    	JOIN
    		shoe_category sc
        ON
        	p.category = sc.category_id
        LEFT JOIN
    		model_image mi
        ON
        	p.model = mi.model_number
		GROUP BY
			pno
		ORDER BY
			pno desc
		LIMIT
			#{pageStart}, #{qty}
	</select>
	<select id="selectMinPrice" parameterType="pageVO" resultType="productVO">
		SELECT
			pno
			, MIN(price) as minPrice
		FROM
			items i
		JOIN
			shoe_size ss
		ON
			i.shoe_size = ss.size_id
		WHERE
			1=1
		AND
			buyer_email is null
		<include refid="whereSize" />
		GROUP BY
			pno
	</select>
	<select id="totalCount" parameterType="pageVO" resultType="int">
		SELECT
    		COUNT(p.pno)
		FROM
    		product p 
    	JOIN
    		shoe_brand sb
        ON 
        	p.brand = sb.brand_id
    	JOIN 
    		shoe_category sc
        ON 
        	p.category = sc.category_id
	</select>
	<select id="activeCount" parameterType="pageVO" resultType="int">
		SELECT
    		COUNT(p.pno)
		FROM
    		product p 
    	JOIN
    		shoe_brand sb
        ON 
        	p.brand = sb.brand_id
    	JOIN 
    		shoe_category sc
        ON 
        	p.category = sc.category_id
        WHERE
			activate = 'y'
		<include refid="whereBrandCategory"/>
		<include refid="search"/>
	</select>
	<select id="nonActiveCount" parameterType="pageVO" resultType="int">
		SELECT
    		COUNT(p.pno)
		FROM
    		product p 
    	JOIN
    		shoe_brand sb
        ON 
        	p.brand = sb.brand_id
    	JOIN 
    		shoe_category sc
        ON 
        	p.category = sc.category_id
        WHERE
			activate = 'n'
	</select>
	
	<select id="checkModelDuple" parameterType="String" resultType="int">
		SELECT
			COUNT(pno)
		FROM
			product
		WHERE
			model = #{model}
	</select>
	<select id="selectLastPno" resultType="int">
		SELECT
			max(pno)
		FROM
			product
	</select>
	<select id="selectModelNumber" parameterType="int" resultType="String">
		SELECT
			model
		FROM
			product
		WHERE
			pno = #{pno}
	</select>
	<select id="selectImageIdAndUrl" parameterType="String" resultType="productVO">
		SELECT
			image_id
			, model_image_url as imageUrl
		FROM
			model_image
		WHERE
			model_number = #{modelNumber}
	</select>
	<select id="selectProductVO" parameterType="int" resultType="productVO">
		SELECT
			pno
			, e_name
			, k_name
			, retail_price
			, model
			, category
			, brand
			, activate
			, model_id
		FROM
			product
		WHERE
			pno = #{pno}
	</select>
	<select id="selectItemsCount" parameterType="int" resultType="int">
		SELECT
			COUNT(item_no)
		FROM
			items
		WHERE
			pno = #{pno}
	</select>
	<select id="getLastImageId" resultType="int">
		SELECT
			MAX(image_id)
		FROM
			model_image
	</select>
	<select id="getLastModelId" resultType="int">
		SELECT
			MAX(model_id)
		FROM
			product
	</select>
	<update id="updateProduct" parameterType="productVO">
		UPDATE product SET
			category = #{category}
			, brand = #{brand}
			, model = #{model}
			, e_name = #{eName}
			, k_name = #{kName}
			, retail_price = #{retailPrice}
			, activate = #{activate}
		WHERE
			pno = #{pno}
	</update>
	
	<delete id="deleteImageWithModelNumber" parameterType="productVO">
		DELETE FROM model_image
		WHERE model_image_url IN
				<foreach item="productVO" index="index" collection="list"
						 open="(" separator="," close=")">
					#{productVO.imageUrl}
				</foreach>
	</delete>
	<delete id="deleteProduct" parameterType="int">
		DELETE
		FROM
			product
		WHERE
			pno = #{pno}
	</delete>
	<delete id="deleteImageWithImageId" parameterType="long">
		DELETE FROM model_image
		WHERE image_id IN
			<foreach item="imageId" index="index" collection="list"
					 open="(" separator="," close=")">
				#{imageId}
			</foreach>
	</delete>
	
</mapper>