<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shoekream.www.repository.searchDAO.SearchDAO">
	<select id="selectToProducts" parameterType="String" resultType="searchVO">
		SELECT
			pno as identityNumber
			, e_name as englishName
			, k_name as koreanName
			, model_image_url as imagePath
		FROM
			product p INNER JOIN model_image i
				ON i.model_number = p.model
		WHERE model like CONCAT("%", #{keyword}, "%")
			OR e_name like CONCAT("%", #{keyword}, "%")
			OR k_name like CONCAT("%", #{keyword}, "%")
		GROUP BY pno
	</select>
	<select id="selectToBrands" parameterType="String" resultType="searchVO">
		SELECT
			brand_id as identityNumber
			, brand_name as englishName
		FROM
			shoe_brand
		WHERE
			brand_name like CONCAT("%", #{keyword}, "%")
	</select>
</mapper>